apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"echo"},"name":"echo","namespace":"platform"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"echo"}},"template":{"metadata":{"labels":{"app":"echo"}},"spec":{"containers":[{"image":"ealen/echo-server:latest","name":"echo","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2025-11-10T20:01:05Z"
  generation: 1
  labels:
    app: echo
  name: echo
  namespace: platform
  resourceVersion: "689391"
  uid: baec5b11-1b77-4c65-98f2-df4febb0961e
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: echo
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: echo
    spec:
      containers:
      - image: ealen/echo-server:latest
        imagePullPolicy: Always
        name: echo
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-10T20:01:16Z"
    lastUpdateTime: "2025-11-10T20:01:16Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-11-10T20:01:05Z"
    lastUpdateTime: "2025-11-10T20:01:16Z"
    message: ReplicaSet "echo-6f59665f5f" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
